@use "variable" as v;

img {
    width: 100%;
    object-fit: cover;
}

body {
    font-family: "Meiryo";
    font-size: 12px;
    position: relative;
    line-height: initial;

    // ハンバーガーメニューのモーダルオープン時（bodyに書くしか方法が分からん）
    &.hambarger-open {
        .header {
            z-index: initial;
        }

        .hambarger-icon {
            div {
                &:nth-child(1) {
                    transform: translateY(5.5px) rotate(45deg);
                    background-color: #fff;
                    z-index: 1;
                }

                &:nth-child(2) {
                    transform: translateY(-5.5px) rotate(-45deg);
                    background-color: #fff;
                    z-index: 1;
                }
            }
        }

        .modal-layer {
            display: block;
        }

        .hambarger-modal {
            opacity: 1;
            left: 0;
        }
    }

    .wrapper {
        @include v.app_size;
        font-size: 14px;

        h1 {
            margin: 33px 0;
        }
    }
}