@use "variable" as v;

.header {
    @include v.app_size;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 31px;
    width: 100%;

    // scroll対策
    position: sticky;
    top: 0;
    background-color: #FFFFFF;
    z-index: 1;

    .logo {
        width: 180px;
    }

    .hambarger-icon {
        width: 30px;
        display: flex;
        flex-direction: column;
        row-gap: 9px;
        cursor: pointer;

        div {
            transition: all 0.5s;

            &:nth-child(1) {
                height: 2px;
                background-color: #333333;
            }

            &:nth-child(2) {
                height: 2px;
                background-color: #333333;
            }
        }
    }
}

// 突っ込む
.hambarger-modal {
    opacity: 0;
    color: #fff;
    position: fixed;
    z-index: 1;
    left: -300px;
    top: 0;
    width: 300px;
    padding: 36px 50px;
    transition: all 0.5s;

    ul {
        li {
            &:not(:last-child) {
                margin-bottom: 14px;
            }
        }
    }
}

.modal-layer {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.8;
}