// map
$breakpoint: (
    sp: 'screen and (max-width: 900px)',
    pc: 'screen and (min-width: 900px)'
);

// へんすう
@mixin mq($bq) {
    @media #{map-get($breakpoint, $bq)} {
        @content;
    }
}

@mixin app_size {
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 40px;
}