@use "common";
@use "header";
@use "footer";

.about {
    &__text_area {
        max-width: 580px;
        padding-bottom: 200px;
        p {
            &:not(:first-child) {
                margin-top: 37px;
            }
        }
    }
}