// common
img {
    width: 100%;
    object-fit: cover;
}

body {
    font-family: "Meiryo UI", "Meiryo";
    position: relative;

    // ハンバーガーメニューのモーダルオープン時（書き方が分からん）
    &.hambarger-open {
        .hambarger-icon {
            div {
                &:nth-child(1) {
                    transform: translateY(5.5px) rotate(45deg);
                    background-color: #fff;
                    z-index: 1;
                }

                &:nth-child(2) {
                    transform: translateY(-5.5px) rotate(-45deg);
                    background-color: #fff;
                    z-index: 1;
                }
            }
        }

        .modal-layer {
            display: block;
        }

        .hambarger-modal {
            opacity: 1;
            left: 0;
        }
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1360px;
    margin: 0 auto;
    padding: 32px 40px 0;

    .logo {
        width: 180px;
    }

    .hambarger-icon {
        width: 30px;
        display: flex;
        flex-direction: column;
        row-gap: 9px;
        cursor: pointer;

        div {
            transition: all 0.5s;

            &:nth-child(1) {
                height: 2px;
                background-color: #333333;
            }

            &:nth-child(2) {
                height: 2px;
                background-color: #333333;
            }
        }
    }
}

.hambarger-modal {
    opacity: 0;
    color: #fff;
    position: absolute;
    z-index: 1;
    left: -300px;
    top: 0;
    width: 300px;
    padding: 36px 50px;
    transition: all 0.5s;

    ul {
        li {
            &:not(:last-child) {
                margin-bottom: 14px;
            }
        }
    }
}

.modal-layer {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #000;
    opacity: 0.8;
}