@use "common";
@use "header";
@use "footer";
@use "variable" as v;

.item_wrapper {
    @include v.app_size;
    font-size: 14px;

    h1 {
        margin: 33px 0;
    }
}

.item {
    display: flex;

    &__img_area {
        width: 400px;
        margin-right: 64px;
    }

    &__text_area {
        width: 330px;

        p {
            &:not(:first-child) {
                margin-top: 25px;
            }
        }

        dl {
            margin-top: 34px;
            display: flex;
            flex-wrap: wrap;

            dt {
                width: 30%;
                font-weight: normal;
            }
            dd {
                width: 70%;
            }
        }
    }
}

.back_products {
    text-align: center;
    margin-top: 64px;
    padding-bottom: 68px;
}