@use "common";
@use "header";
@use "footer";
@use "variable" as v;

.item {
    &__area {
        display: flex;
        @include v.mq(sp) {
            flex-direction: column;
        }
    }

    &__img_area {
        width: 400px;
        margin-right: 64px;

        @include v.mq(sp) {
            width: 100%;
            margin: 0;
        }
    }

    &__text_area {
        width: 330px;

        @include v.mq(sp) {
            width: 100%;
            margin-top: 33px;
        }

        p {
            &:not(:first-child) {
                margin-top: 25px;
            }
        }

        dl {
            margin-top: 34px;
            display: flex;
            flex-wrap: wrap;

            dt {
                width: 30%;
                font-weight: normal;
            }
            dd {
                width: 70%;
            }
        }
    }
}

.back_products {
    text-align: center;
    margin-top: 64px;
    padding-bottom: 68px;
}